{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Challenge!!!!</title>
</head>
<body>
    <div class="outerDiv">
        <div class="leftDiv">
            <p class="greetings">Ahmad Irfan Luthfi<br>1806235864<br><a href="/" >Ke home</a></p>
            
        </div>
        <div class="rightDiv">
            <img src="{% static "img/foto.jpg" %}" height="50%" width="50%" >
        </div>		
        <div style="clear:both;"></div>
        
    </div>
</body>
</html>