{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet"> -
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Hi!</title>
</head>
<body>
    <div class="outerDiv">
        <div class="leftDiv">
            <p class="greetings">Hi!<br>What's going on?<br><a href="/challenge" id="challenge">Ke Challenge</a></p>
        </div>
        <div class="rightDiv">
            <form method="POST" class="statusform">
                {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="Submit" class="btn btn-primary class2" if="idButton">Add Status</button>
                {% for each in status%}
                    <p>{{each.status}}</p>
                {% endfor %}
            </form>
        </div>		
        <div style="clear:both;"></div>
    </div>
</body>
</html>
