body{
	background-image: url("../img/background.jpg");
	background-size: 100%;
}

p{
	font-family: 'Overpass', sans-serif;
}

.greetings{
	font-size: 80px;
	position: absolute;
	left: 3%;
	top: 15%;
	background-color: #CACACA;
	padding: 5px;
	}

.outerDiv{
	color: #fff;
	height: 45em;
	width: 100%;
	margin: 0px auto;
	padding: 5px;
}
.leftDiv{
	height: 45em;
	width: 50%;
	float: left;
}
.rightDiv{
	height: 45em;
	width: 50%;
	float: right;
	vertical-align: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#forms{
	width: 300%;
	height: 300px;
	
}

#challenge{

}

#idForm{

}

#idButton{

}